@import url('https://fonts.googleapis.com/css?family=Thasadith');

$text-color: #161616;
$accent-color: #B2DFDB;
$link-color: rgb(110, 168, 255);
$translucent: rgba(255,255,255,0.9);

$title-font: 'Thasadith', Helvetica, Arial, sans-serif;